C4-Convolutional_Neural_Networks/W2A1-Residual_Networks/resnet50.h5 filter=lfs diff=lfs merge=lfs -text
C4-Convolutional_Neural_Networks/W3A1-Car_Detection_with_YOLO/images/*.jpg filter=lfs diff=lfs merge=lfs -text
C4-Convolutional_Neural_Networks/W3A1-Car_Detection_with_YOLO/nb_images/*.mp4 filter=lfs diff=lfs merge=lfs -text
C4-Convolutional_Neural_Networks/W3A1-Car_Detection_with_YOLO/nb_images/*.png filter=lfs diff=lfs merge=lfs -text
C4-Convolutional_Neural_Networks/W3A1-Car_Detection_with_YOLO/model_data/variables/variables.data-00000-of-00001 filter=lfs diff=lfs merge=lfs -text
