tensorflow==2.12.*
# tensorflow==2.3.* # coursera uses 2.3.0
# protobuf==3.20.*

numpy # 1.24.3
matplotlib
h5py
scipy
Pillow
scikit-learn
pandas
imageio
music21<7.0.0
mido
pydub

# DeepLearning AI
dlai_tools

# interactive
# jupyter
# ipykernel
# notebook
jupyterlab
